body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Questrial', sans-serif;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, rgb(209, 109, 212), rgb(83, 123, 255));
    background: linear-gradient(to right, rgb(209, 109, 212), rgb(83, 123, 255));
}
#frm {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    height: 890px;
    bottom: 20px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    position: relative;
    background-color: rgb(234, 234, 234);
    border-radius: 10px 10px 10px 10px;
}


#return {
    border-radius: 5px 5px 5px 5px;
}
#return:hover {
    cursor: pointer;
    background: #95ddfc;
}
#space {
    width: 100%;
    height: 20px;
    background: -webkit-linear-gradient(to right, rgb(158, 106, 179), rgb(69, 140, 220));
    background: linear-gradient(to right, rgb(158, 106, 179), rgb(69, 140, 220));
    border-radius: 5px 5px 5px 5px;
}


h1{
    text-align: center;
    font-weight: 700;
}


.textbox {
    position: relative;
    padding: 5px;
    height: 80px;
    right: 6px;
}
input[type="text"] {
    background: none;
    color: black;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid
}
input[type="text"]:hover {
    background-color: white;
}
.textboxerror {
    font-size: 16px;
    position: relative;
    bottom: 39px;
    left: 5px;
}


.radioerror{
    font-size: 16px;
    position: relative;
    left: 150px;
    bottom: 50px;
    width: 342px;
    height: 25px;
    padding: 10px 8px 5px 5px;
    margin: 0 0 4px 30px;
    margin-left: 15px;
    background-color: rgb(209, 109, 212);
}
.radioerror::before {
    content: "";
    position: absolute;
    top: 0;
    right: 355px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid rgb(209, 109, 212);
    border-bottom: 20px solid transparent;
}


.checkederror{
    font-size: 16px;
    position: relative;
    left: 150px;
    bottom: 70px;
    width: 342px;
    height: 35px;
    padding: 10px 8px 5px 5px;
    margin: 0 0 4px 30px;
    margin-left: 15px;
    background-color: rgb(209, 109, 212);
}
.checkederror::before {
    content: "";
    position: absolute;
    top: 0;
    right: 355px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid rgb(209, 109, 212);
    border-bottom: 25px solid transparent;
}


.comboerror {
    font-size: 16px;
    position: relative;
    left: 212px;
    bottom: 25px;
    width: 280px;
    height: 15px;
    padding: 10px 8px 5px 5px;
    margin: 0 0 4px 30px;
    margin-left: 15px;
    background-color: rgb(209, 109, 212);
}
.comboerror::before {
    content: "";
    position: absolute;
    top: 0;
    right: 293px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid rgb(209, 109, 212);
    border-bottom: 15px solid transparent;
}


.labelerror {
    font-size: 16px;
    position: relative;
    bottom: 70px;
    left: 4px;
}


#submit {
    font-family: 'Cabin', sans-serif;
    width: 40%;
    height: 40px;
    background: #B06AB3;
    color: black;
    border-radius: 20px 20px 20px 20px;
    float: right;
}
#submit:hover {
    cursor: pointer;
}
.btn {
    
}