.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    font-family: 'Questrial', sans-serif;
    background: -webkit-linear-gradient(to right, rgb(209, 109, 212), rgb(83, 123, 255));
    background: linear-gradient(to right, rgb(209, 109, 212), rgb(83, 123, 255));
}
.frm {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    background-color: rgb(234, 234, 234);
    border-radius: 10px 10px 10px 10px;
}


.return {
    width: 30%;
    border-radius: 5px 5px 5px 5px;
}
.return:hover {
    cursor: pointer;
    background: rgb(69, 140, 220);
}
.space {
    width: 100%;
    height: 20px;
    background: -webkit-linear-gradient(to right, rgb(158, 106, 179), rgb(69, 140, 220));
    background: linear-gradient(to right, rgb(158, 106, 179), rgb(69, 140, 220));
    border-radius: 5px 5px 5px 5px;
}


h1{
    text-align: center;
    font-weight: 700;
}


.textbox {
    display: flex;
    flex-direction: column;
    height: 90px;
}
input[type="text"] {
    background: none;
    color: black;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid
}
input[type="text"]:hover {
    background-color: white;
}
.textboxerror {
    font-size: 15px;
    
}


.radioerror{
    font-size: 16px;
    display: flex;
    position: relative;
    left: 150px;
    bottom: 50px;
    width: 342px;
    height: 25px;
    padding: 10px 8px 5px 5px;
    margin: 0 0 4px 30px;
    margin-left: 15px;
    background-color: rgb(209, 109, 212);
}
.radioerror::before {
    content: "";
    position: absolute;
    top: 0;
    right: 355px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid rgb(209, 109, 212);
    border-bottom: 20px solid transparent;
}


.checkederror{
    font-size: 16px;
    position: relative;
    left: 150px;
    bottom: 70px;
    width: 342px;
    height: 35px;
    padding: 10px 8px 5px 5px;
    margin: 0 0 4px 30px;
    margin-left: 15px;
    background-color: rgb(209, 109, 212);
}
.checkederror::before {
    content: "";
    position: absolute;
    top: 0;
    right: 355px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid rgb(209, 109, 212);
    border-bottom: 25px solid transparent;
}


.comboerror {
    font-size: 16px;
    position: relative;
    left: 212px;
    bottom: 25px;
    width: 280px;
    height: 15px;
    padding: 10px 8px 5px 5px;
    margin: 0 0 4px 30px;
    margin-left: 15px;
    background-color: rgb(209, 109, 212);
}
.comboerror::before {
    content: "";
    position: absolute;
    top: 0;
    right: 293px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid rgb(209, 109, 212);
    border-bottom: 15px solid transparent;
}

.submit {
    font-family: 'Cabin', sans-serif;
    width: 40%;
    height: 40px;  
    background: rgb(176, 106, 179);
    color: black;
    border-radius: 20px 20px 20px 20px;
    float: right;
}
.submit:hover {
    cursor: pointer;
}

.comment {
    min-width: 100%;
    resize: none;
}

@media (max-width: 580px){

    body {
        background: rgb(69, 104, 220);
    }

    .wrapper {
        height: auto;
        width: auto;
    }

    .frm {
        height: 80%;
        width: 80%;
    }

    .textboxerror{
        left: 280px;
    }

    .radioerror, .checkederror {
        left: 100px;
        bottom: 50px;
        width: 242px;
        height: 25px;
        
    }
    .radioerror::before {
        right: 255px;
    }
    .checkederror::before {
        right: 255px;
        border-top: 20px solid transparent;
        border-right: 20px solid rgb(209, 109, 212);
        border-bottom: 20px solid transparent;
    }

    .comboerror {
        left: 200px;
        bottom: 25px;
        width: 142px;
        height: 15px;
    }
    .comboerror::before {
        right: 155px;
    }

    .comment {
        width: 100%;
    }
}

@media (max-width: 440px){

    .wrapper {
        height: auto;
        width: auto;
    }

    .frm {
        height: 80%;
        width: 80%;
    }

    .radioerror, .checkederror {
        left: 130px;
        bottom: 50px;
        width: 150px;
        height: 25px;
        
    }
    .radioerror::before, .checkederror::before {
        right: 163px;
    }

    .comboerror {
        left: 200px;
        bottom: 25px;
        width: 80px;
        height: 15px;
    }
    .comboerror::before {
        right: 93px;
    }
}