body {
    display: flex;
    height: 750px;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
}
h1{
    text-align: center;
    font-weight: 700;
}
#return {
    border-radius: 5px 5px 5px 5px;
}
#return:hover {
    cursor: pointer;
    background-color: #2DC2BD;
}
#space {
    width: 100%;
    height: 20px;
    background-color: #37c0fb;
    border-radius: 5px 5px 5px 5px;
}
.error {
    width: 100%;
    font-size: 10px;
    color: black;
}


#frm {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 100px 10px rgba(0,0,0,0.3);
    position: relative;
    background-color: rgb(234, 234, 234);
}

#submit{
    width: 99%;
}

input[type="text"] {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
input[type="text"]:hover {
    cursor: pointer;
    background-color: white;
}



